<%- include('./partials/header.ejs') %>
    <div class="container mx-auto p-6">
        <div class="max-w-lg mx-auto bg-white p-6 border border-gray-300 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Create New Expense record</h2>
            <form action="/hisaab/create" method="post">
                <div class="mb-4">
                    <input name="title" type="text" placeholder="Shopping Expense, Home expense, etc"
                        class="w-full p-2 border border-gray-300 rounded">
                </div>
                <div class="mb-4">
                    <textarea name="description" placeholder="Start writing here....."
                        class="resize-none w-full p-2 border border-gray-300 rounded h-32"></textarea>
                </div>
                <div class="mb-4">
                    <input name="total" type="text" placeholder="Write the total expense"
                        class="w-full p-2 border border-gray-300 rounded">
                </div>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input name="encrypted" id="passwordBox" type="checkbox" class="form-checkbox">
                        <span class="ml-2">Encrypt this file</span>
                    </label>
                    <input name="passcode" id="passwordBoxInput" type="password" placeholder="Passcode"
                        class="w-full mt-2 p-2 border border-gray-300 rounded hidden">
                </div>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input name="shareable" type="checkbox" class="form-checkbox">
                        <span class="ml-2">Shareable file?</span>
                    </label>
                </div>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input name="editable" type="checkbox" class="form-checkbox">
                        <span class="ml-2">Edit permissions.</span>
                    </label>
                </div>
                <div class="mb-4">
                    <label class="inline-flex items-center">
                        <input name="important" type="checkbox" class="form-checkbox">
                        <span class="ml-2">Mark as important.</span>
                    </label>
                </div>
                <div>
                    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded">Add Expense</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>